version: '3'
services:

  database:
    build: ./db
  
    ports:
      - "3306:3306"
  
  backend:
    build: ./backend
  
    volumes:
      - ./backend:/usr/src/app
    ports:
      - "5000:5000"
  
  frontend:
    build: ./frontend
    
    volumes:
      - ./frontend:/home/node/app
    ports:
      - "4000:4000"